<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>com.iteso.sweng.Servlets.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.iteso.sweng.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>com.iteso.sweng.Servlets.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcomeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>com.iteso.sweng.Servlets.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/errorServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>faqgeneral</servlet-name>
        <servlet-class>com.iteso.sweng.Servlets.FAQServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>faqgeneral</servlet-name>
        <url-pattern>/faqservlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>faqmember</servlet-name>
        <servlet-class>com.iteso.sweng.Servlets.FAQMemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>faqmember</servlet-name>
        <url-pattern>/faqmemberservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GenerateServlet</servlet-name>
        <servlet-class>com.iteso.sweng.RecoveryPass.GenerateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateServlet</servlet-name>
        <url-pattern>/GenerateServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>com.iteso.sweng.RecoveryPass.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>VPassServlet</servlet-name>
    <servlet-class>com.iteso.sweng.RecoveryPass.VPassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VPassServlet</servlet-name>
        <url-pattern>/VPassServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RGenerateServlet</servlet-name>
        <servlet-class>com.iteso.sweng.RecoveryPass.RGenerateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RGenerateServlet</servlet-name>
        <url-pattern>/RGenerateServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RedirServlet</servlet-name>
        <servlet-class>com.iteso.sweng.RecoveryPass.RedirServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirServlet</servlet-name>
        <url-pattern>/RedirServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>com.iteso.sweng.Servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RServlet</servlet-name>
        <servlet-class>com.iteso.sweng.Servlets.RServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RServlet</servlet-name>
        <url-pattern>/RServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>com.iteso.sweng.SignIn.SigninServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/SigninServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActivateServlet</servlet-name>
        <servlet-class>com.iteso.sweng.SignIn.ActivateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivateServlet</servlet-name>
        <url-pattern>/ActivateServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResendCodeServlet</servlet-name>
        <servlet-class>com.iteso.sweng.SignIn.ResendCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResendCodeServlet</servlet-name>
        <url-pattern>/ResendCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>com.iteso.sweng.ChangePass.ConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/ConfirmServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>com.iteso.sweng.ChangePass.ChangePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.iteso.sweng.Profile.EditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CancelEditProfileServlet</servlet-name>
        <servlet-class>com.iteso.sweng.Profile.CancelEditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelEditProfileServlet</servlet-name>
        <url-pattern>/CancelEditProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.iteso.sweng.LogOut.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>



    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>